@media (max-width: 786px) {
    .burger {
        width: 2rem;
        height: 2rem;
        position: fixed;
        top: 15px;
        right: 20px;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        z-index: 20;
    }
    
    .burger-div {
        width: 2rem;
        height: 0.25rem;
        background-color: #333; 
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;

        &:nth-child(1) {
            transform: rotate(0);
        }

        &:nth-child(2) {
            transform: translateX(0);
            opacity: 1;
        }

        &:nth-child(3) {
            transform: rotate(0);
        }
    }

    .burger .true {
        background-color: #ccc;
        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: translateX(100%);
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}