.nav-bar {
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.nav-bar div {
    font-size: 23px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .nav-bar-right-nav {
        display: none !important;
    }

    .burger {
        display: block;
    }
}

@media (min-width: 769px) {
    .nav-bar div {
        display: flex;
        align-items: center;
    }

    .burger {
        display: none !important;
    }

    .nav-bar-right-nav {
        display: none;
    }
}
