.right-nav {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.right-nav li {
    padding: 18px 10px;
}

.right-nav a {
    color: #1d1c1c;
    background-color: transparent;
    text-decoration: none;
}

.right-nav a:hover {
    color: rgb(241, 103, 44);
    background-color: transparent;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .right-nav a {
        color: #fff;
    }

    .right-nav {
        flex-flow: column nowrap;
        background-color: #0D2538;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        padding: 3.5rem 20px;
        font-size: 18px;
        color: #fff;
    }
}